<cfinclude template="_header.cfm" runonce="yes">

<h1>Kullanıcı Kaydı</h1>


<cfoutput>
<form action="actEkle.cfm" method="post" enctype="multipart/form-data">
</cfoutput>
<div class="form-group">
    <label for="ad">Adı:</label>
    <input name="ad" type="text" class="form-control" id="ad" placeholder="Adı?">
</div>

<div class="form-group">
    <label for="sehirID">Şehir:</label>
    <select name="sehirID" id="sehirID" class="form-control">
	<option value="0">Şehir Şeçiniz</option>
    <cfset qName = application.objUye.getCities()>
	<cfoutput query="qName">
	   <option value="#placeid#">#placeid# #Placename#</option>
    </cfoutput>
</select>
</div>

<div class="form-group">
    <label for="foto">Foto:</label>
    <input name="foto" type="file" id="foto" class="form-control" />
</div>
<div class="form-group">
    <label for="notes">Notlar:</label>
    <br />
    <textarea name="notes" cols="50" rows="4" id="notes"></textarea>
</div>
  
<input name="Kaydet" type="submit" value="Kaydet" class="btn btn-default" />
</form>

<cfinclude template="_footer.cfm" runonce="yes">
