<cfinclude template="_header.cfm" runonce="yes">

        
<cfset qUser = application.objUye.getUsers(id)>


<h1>Kullanıcı Kaydı</h1>
<cfoutput>
<form action="actGuncelle.cfm" method="post" enctype="multipart/form-data">
<input name="id" type="hidden" value="#id#" />

Adı: <input name="ad" type="text" value="#qUser.ad#" />
<br />
</cfoutput>
Şehir: 
<select name="sehirID">
	<option value="0">Şehir Şeçiniz</option>
	<cfset qName = application.objUye.getCities()>
	<cfoutput query="qName">
	   <option value="#placeid#" <cfif qUser.ilid EQ placeid>selected</cfif>>#placeid# #Placename#</option>
    </cfoutput>
</select>
<br />
<cfoutput>
<cfif len(trim(qUser.foto)) NEQ 0>
	<img src="img/#qUser.foto#" height="80" />
    <br />
    Yeni Foto Ekle: 
<cfelse>
	Foto Ekle: 
</cfif>
</cfoutput>

<input name="foto" type="file" />
   
<input name="guncelle" type="submit" value="Güncelle" />
</form>

<cfinclude template="_footer.cfm" runonce="yes">
