<cfinclude template="_header.cfm" runonce="yes">
<br>
<br>


<cfif cgi.HTTP_REFERER EQ "http://egitim/test.cfm">
    Başarıyla eklendi! 
<br>
</cfif>

<table class="table table-hover table-condensed">
<cfset qName = application.objUye.getUsers()>
<cfoutput query="qName">
    <tr>
        <td><a href="guncelle.cfm?id=#id#">#ad#</a></td>
        <td>#il_adi#</td>
        <td>
        <cfif FileExists("C:\sites\egitim\web\img\#foto#")>
        	<img src="img/#foto#" width="100">
        </cfif>
        </td>
        <td>#HTMLEditFormat(notes)#</td>
        <td><a href="guncelle.cfm?id=#id#">Güncelle</a></td>
        <td><a href="sil.cfm?id=#id#" onclick="return confirm('Silmek istiyor musunuz?');">Sil</a></td>
    </tr>
</cfoutput>
</table>


<cfinclude template="_footer.cfm" runonce="yes">
