<cfinclude template="_header.cfm" runonce="yes">

 <cfset qUser = application.objUye.getUsers(id)>


	<cfset fs.webroot = ExpandPath("/")>
    <cfif FileExists("#fs.webroot#img\#qUser.foto#")>
		<cffile action="delete" file="#fs.webroot#img\#qUser.foto#">
     </cfif>

 <cfset dUser = application.objUye.deleteUser(id)>


<cflocation url="listele.cfm" addtoken="no">

<cfinclude template="_footer.cfm" runonce="yes">
